/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}

nav {
  font-size: 18px;
}

nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #000000;
  border-bottom: 5px solid #000000;
  padding: 50px 0;
  width: 500px;
}

/* PAGE SECTION */
body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid #000000;
  position: relative;
}

.container {
  width: 800px;
  margin: 0 auto;
}

/* SMALLER ELEMENTS */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-family: sans-serif;
}
h1 {
  color: #000000;
  font-size: 52px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  margin-bottom: 18px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

h6 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* Example of using id's */
#author {
  font-style: italic;
  font-size: 18px;
}

/* Example of using id's */
#copyright {
  font-size: 16px;
}

.current-project {
  font-size: 18px;
  font-weight: bold;
}

.current {
  list-style: none;
}

ol:first-child {
  font-weight: bold;
}

ol:nth-child(2) {
  font-weight: bold;
}

ol:nth-child(3) {
  font-weight: bold;
}

ol:last-child {
  font-weight: bold;
}

/* .drop-i {
  width: 60%;
  margin: 1rem auto;
  padding: 2rem;
  text-align: justify;
  transition: all 0.3s;
} */

.drop-i p {
  line-height: 1.5;
  letter-spacing: 0.3px;
  word-spacing: 2px;
}

.drop-i p:first-child::first-letter {
  color: #fe5f55;
  font-weight: bold;
  font-size: 70px;
  float: left;
  line-height: 60px;
  padding-right: 8px;
  margin-top: -3px;
}

@media screen and (max-width: 600px) {
  .drop-i {
    width: 100%;
    padding: 1rem;
  }
}

/* Styling links */
a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:hover {
  color: rgb(118, 17, 118);
  font-weight: bold;
  text-decoration: underline rgb(118, 17, 118);
}

a:active {
  background-color: rgb(118, 17, 118);
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}
